<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/formenviado.css">
    <link rel="shortcut icon" href="img/logo primaria.png">
    <title>TranquilMinds</title>
</head>
<body>

    <h1>
        Email ou senha incorretos!
    </h1>

    <div>
        <button type="button" id="btn2" onclick="window.location.href='../index.php'">Voltar</button>
    </div>
    
</body>
</html>