<html></html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/videos.css">
    <link rel="shortcut icon" href="img/logoredonda.png" type="image/x-icon">
    <title>TranquilMinds</title>
</head>
<body>
    <header>
        <img id="logo" src="img/logoredonda.png" alt="TranquilMinds Logo">
        <nav id="nav-main">
            <a href="usuario.php">Usuário</a>
            <a href="videos.html">Vídeos</a>
            <a href="musica.html">Músicas</a>
            <a href="principal.php">Voltar</a>
        </nav>
    </header>
    <main>
        <section id="sinopse">
            <h1>Sobre os Vídeos</h1>
            <p>
                Olá! Nossa aba de vídeos foi criada com o objetivo de trazer atividades para relaxamento.
                Queremos oferecer a você uma variedade de conteúdos que possam ajudar na sua
                descontração e bem-estar. Acreditamos que assistir a esses vídeos pode ser uma forma
                agradável de cuidar de si mesmo, proporcionando momentos de tranquilidade e renovação.
                Esperamos que você aproveite ao máximo essa experiência de relaxamento.
            </p>
        </section>

        <section id="videos-gallery">
        
            <div class="category">
                <h3>Exercícios</h3>
                <a href="https://youtu.be/IyvdHq6ZSlE?si=CY7vzW2Vq8nNh7c-">
                    <img src="https://img.youtube.com/vi/IyvdHq6ZSlE/hqdefault.jpg" alt="Vídeo de Malhar">
                </a>
                <a href="https://youtu.be/1hwfU_uSQ2k?si=d48XVYzkloRyIall">
                    <img src="https://img.youtube.com/vi/1hwfU_uSQ2k/hqdefault.jpg" alt="Vídeo de Malhar">
                </a>
            </div>
        
            <div class="category">
                <h3>Cozinhar</h3>
                <a href="https://youtu.be/lrpCST_wu_c?si=9K-RvS3OXzW4w8IS">
                    <img src="https://img.youtube.com/vi/lrpCST_wu_c/hqdefault.jpg" alt="Vídeo de Cozinhar">
                </a>
                <a href="https://https://youtu.be/Jgn9MSx1_P8?si=_ZpC0wOCUEywfFbe">
                    <img src="https://img.youtube.com/vi/Jgn9MSx1_P8/hqdefault.jpg" alt="Vídeo de Cozinhar">
                </a>
            </div>
        
            <div class="category">
                <h3>Pintar</h3>
                <a href="https://youtu.be/WBmQumK6Rr0?si=UonBXyhVh_tLDRqy">
                    <img src="https://img.youtube.com/vi/WBmQumK6Rr0/hqdefault.jpg" alt="Vídeo de Pintar">
                </a>
                <a href="https://youtu.be/rx9LcdRmMoM?si=BLgqC3Uf5d5uJWDS">
                    <img src="https://img.youtube.com/vi/rx9LcdRmMoM/hqdefault.jpg" alt="Vídeo de Pintar">
                </a>
            </div>
        
            <div class="category">
                <h3>Dança</h3>
                <a href="https://youtu.be/eNkUy1hlOJA?si=PX-oPsJSDpZUUvBJ">
                    <img src="https://img.youtube.com/vi/eNkUy1hlOJA/hqdefault.jpg" alt="Vídeo de Dança">
                </a>
                <a href="https://youtu.be/FWvvX4Mnv1c?si=H2ovxtLXV1XI0tg7">
                    <img src="https://img.youtube.com/vi/FWvvX4Mnv1c/hqdefault.jpg" alt="Vídeo de Dança">
                </a>
            </div>
        </section>
        
    </main>
</body>
</html>